.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

table {
  margin: 0.5em;
}

tr td {
  border: 1px #fff solid;
  padding: 0.5em;
}

tr.current {
  background-color: #f00;
}

tr.skipped {
  background-color: #61dafb;
}

pre.react-state {
  font-size: 12px;
  text-align: left;
  width: 400px;
  height: 400px;
  overflow-x: scroll;
}